* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TABLETS (≤ 991 px) */
@media (max-width: 991px) {}

/* ---------------------------------------- */

/* FONTES */

/* ---------------------------------------- */

@font-face {
    font-family: "Sunborn";
    src: url(../fonts/sunborn-sans-one.otf);
}

@font-face {
    font-family: "Bree serif";
    src: url(../fonts/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: "Open sans medium";
    src: url(../fonts/static/OpenSans-Medium.ttf);
}

@font-face {
    font-family: "Open sans light";
    src: url(../fonts/static/OpenSans-Medium.ttf);
}

.sunborn {
    font-family: 'Sunborn';
}

.bree-serif {
    font-family: 'Bree serif';
}

.open-sans-medium {
    font-family: 'Open sans medium';
}

.open-sans-light {
    font-family: 'Open sans light';
}

/* ---------------------------------------- */

/* Icones do rodapé */

/* ---------------------------------------- */

/* Animação de crescimento e clique dos ícones */

.icones-rodape:hover {
    transition: all 0.5s ease;
    transform: scale(1.07);
}

.icones-rodape:active {
    transform: scale(0.97);
}

.bi-instagram {
    color: transparent;
    background-clip: text;
    /* cores em gradiente */
    background-image: linear-gradient(135deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.bi-facebook {
    color: #1877F2;
}

/* ---------------------------------------- */

/* area inicial */

.section_inicial {
    background-image: url('../img/imagem_inicial.png');
    width: 100%;
    min-height: 100vh;
    /* margem para a imagem não ser tampada */
    margin-top: 60px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.div-cards {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 2vw;
}

/* TITULO DA PÁGINA */

#h2_part-inicial {
    font-size: 3rem;
    font-family: 'Bree Serif';
    padding: 5vh 0px 0px 2vw;
    cursor: context-menu;
}

/* TEXTO DO TITULO - PROGRAM EAST */

#span-h2-inicial {
    color: #0866ff;
    cursor: pointer;
    transition: all 0.5s;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

#span-h2-inicial:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
    margin-left: 30px;
}

#span-h2-inicial:active {
    background-color: #0866ff;
    color: #ffffff;
}


.div_part-p {
    max-width: 30%;
    padding-left: 2vw;
    cursor: context-menu;
}

#p_part-inicial {
    font-size: 1.5rem;
    font-family: 'Bree Serif';
    line-height: 1.5;
}

.div_part-button:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    box-shadow: 0 0 20px #95a5ff;
    background-color: #040e4b;
}

.div_part-button:active {
    background-color: #3851db;
}

.div_part-button {
    margin: 15vh 0px 0px 2vw;
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif';
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#img-part-inicial {
    max-width: 2.5rem;
    max-height: 2.5rem;
}

.faixa-projetos-fundo {
    background-color: #000000;
    max-width: 100%;
    height: auto;

}

.faixa-textos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bree Serif';
    font-size: 2.0rem;
    color: #ffffff;
    padding: 2rem 0px 0px 0px;
}

.faixa-de-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0px 4vw 0px;
}

.destaque-projetos {
    width: 90%;
    height: auto;
    border: 0.6vh solid #ffffff;
    background-color: #000000;
    border-radius: 20px
}

.manipular-icons {
    padding: 0.7vw;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.icon-proj:active {
    box-shadow: 0 0 60px #95a5ff;
}

.icon-proj:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}

.icon-proj {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

/* FIM PARTE INICIAL */
.section-proj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detalhes-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    background-color: #0867ff00;

}

/* parte 4*/
#detalhe-stayfit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #693ec03b;
}

/* parte 5*/
.display-projetos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 95%;
    background-color: #dac7ff;
}

/*  */
.h2-card-1 {
    font-family: "Bree Serif";
    font-size: 15vh;
}

/* parte 6*/
.div-1-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 40%;
    height: 95%;


}

#foto-capa {
    width: 100%;
    height: 40%;
    border: #000000 solid 1px;
    border-radius: 20px 20px 0 0px;

}

#img-capa {
    width: 100%;
    height: 100%;

}

#corpo-card-proj {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60%;
    background-color: #c4c4c4;
    border-radius: 0% 0% 10% 10%;
    border: 1px solid;
}
#p_corpo-card-proj{
    
    
}

#foto-perfil-proj {
    margin-top: 10%;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    background-color: #ffffff;

}

#img-proj {
    width: 30vh;
    height: 30vh;
    padding: 10px;
}

/* parte 7*/
.itens-card {
    display: flex;
    flex-direction: column;

    width: 55%;
    height: 95%;
    background-color: #fcb045;
}

.slides-itens {
    width: 100%;
    height: 50%;
    background-color: #2b2b2b;
}

.desc-itens {
    width: 100%;
    height: 50%;
    background-color: #000000;
}

/* explicação projetos */

/* final explicação */

/*card da stay fit !!!*/
/* ---------------------------------------------------------------- */
.container-principal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 50px 58px;
    gap: 80px;

}

.div-card-one {
    display: flex;
    justify-content: center;
    align-items: center;


}

.background-color-one {
    display: grid;
    grid-template-rows: 70px auto 80px;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.title-card-one {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #844feb;
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 60px;
}

.h2-card-one {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-card-one {
    background-color: #844feb;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 60px;
}

.botao-card-one:hover {
    background-color: #693ec0;
}

.button-card-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-test-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-card {
    width: 250px;
    height: 230px;
}

.section-conteudo-direito {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 820px;
    height: 400px;
}

.divisão-card {
    width: 50px;
    height: 150px;
}

.foto-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 25vh;
}

.descricao-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.img-card-two {
    width: 700px;
    height: 300px;

}

/**/
#ver-mais {
    height: 50px;
}

/* Sobre Nós */

.img_profile {
    height: 250px;
    width: 250px;
}

.container-sobre-nos {
    margin: 200px 0;
}

.texto-sobre-nos {
    margin: 0 80px;
}